.container {
    border-radius: 8px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
    bottom: 70px;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 96px;
}

.container iframe {
    position: absolute;
}

@media (max-width: 1024px) {
    .container {
        bottom: 115px;
        height: 288px;
    }
}