.booking {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 800px;
    height: 90px;
    border-radius: 30px;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}