.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1.75rem;
    background-color: #fff;
    z-index: 9999;
    transition: transform .25s, padding .25s;
}

.paddingCorrect {
    padding: 1rem 1.75rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.25rem;
}

.phoneWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    fill: var(--secondary-color);
    color: #393939;
}

.phoneWrapper:hover {
    text-decoration: underline;
}

.button {
    text-transform: uppercase;
    padding: .75rem 2.25rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 20px;
    transition: transform .25s;
}

.button:hover {
    transform: scale(1.02);
}

.button:active {
    transform: scale(1);
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 70px;
    fill: var(--primary-color);
    transition: height .5s, opacity .1s;
}

.logoCorrect {
    height: 0px;
    opacity: 0;
}

.title {
    font-size: 24px;
    font-family: 'Philosopher';
    font-weight: 700;
    color: var(--primary-color);
    transform: scale(1);
    transition: transform .5s;
}

.titleCorrect {
    transform: scale(1.1);
}

.phone {
    width: 40px;
    height: 40px;
    fill: #5F6368;
}

@media (width <= 1024px) {
    .header {
        padding: 1rem 1.75rem;
    }
    .phoneWrapper {
        display: none;
    }
    .logo {
        display: none;
    }
}

@media (width <= 768px) {
    .logoWrapper {
        display: none;
    }
}