.advantages {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid var(--secondary-accent);
    gap: 1px;
    background-color: var(--secondary-accent);
    overflow: hidden;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: .5rem; */
    text-align: center;
    padding: 1rem;
    line-height: 1.25;
    background-color: #fff;
    fill: var(--secondary-accent);
    color: var(--secondary-accent);
}

.iconWrapper {
    gap: .5rem;
    height: 60px;
}

.iconWrapper > svg {
    height: 100%;
    max-width: 130px;
}

.swiperWrapper {
    margin-top: 3rem;
}

@media (width <= 768px) {
    .advantages {
        grid-template-columns: 1fr 1fr;
        margin-inline: auto;
        max-width: 70%;
    }
    .item {
        aspect-ratio: 1/1;
        border-radius: 0;
        max-width: 100%;
    }
    .iconWrapper {
        height: 60px;
    }
    .title {
        font-size: 16px;
    }
}

@media (width <= 550px) {
    .advantages {
        max-width: 80%;
    }
}

@media (width <= 450px) {
    .advantages {
        max-width: 100%;
    }
}

@media (width <= 450px) {
    .iconWrapper > svg {
        height: 100%;
        max-width: 100px;
    }
}

@media (width <= 350px) {
    .title {
        font-size: 14px;
    }
    .item {
        aspect-ratio: 1/1.3;
    }
}