.footer {
    display: flex;
    padding-inline: 1.25rem;
    height: 75px;
    margin-top: 4rem;
}

.text {
    font-size: 20px;
    color: #5F6368;
}

@media (max-width: 1024px) {
    .footer {
        margin-top: 2rem;
    }
}