.swiper-pagination-bullet-active {
    background-color: #000;
}

@media (width <=768px) {
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin-inline: 2px;
        width: 6px;
        height: 6px;
    }
}