.main {
    width: 100%;
    height: 100vh;
}

.mask {
    overflow: hidden;
    width: 100%;
    height: 95vh;
    mask: url('/sprites/mask/main.svg') center center / cover repeat;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logoContainer {
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.logoWrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    fill: #fff;
    color: #fff;
}

.logo {
    width: 100%;
}

.title {
    font-family: 'Philosopher';
    font-size: 24px;
}

.legacy {
    margin-bottom: 4rem;
}

@media (max-width: 1024px) {
    .main {
        margin-bottom: 9rem;
    }
    .legacy {
        margin-bottom: inherit;
    }
}