@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #A88451;
    --secondary-accent: #899254;
    --secondary-color: #5F6368;
    --text-color: #393939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PTSans';
}

button,
input {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > section {
    padding-top: 7rem;
}

.container {
    width: min(100%, 1440px);
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.containerText {
    width: min(100%, 800px);
    padding-inline: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: auto;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.4;
}

.containerInfo {
    width: min(100%, 1000px);
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.title {
    text-align: center;
    font-family: 'Philosopher';
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

.mylink {
    cursor: pointer;
    position: relative;
}

.mylink:after {
    content: '';
    position: absolute;
    top: calc(100% + 3px);
    inset-inline: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color:  rgba(0, 0, 0, 0.15);
    transition: transform .25s;
}

.linkReverse:after {
    background-color: rgba(255, 255, 255, 0.15);
}

.button {
    transition: transform .25s;
}

.button:hover {
    transform: scale(1.02);
}

.button:active {
    transform: scale(1);
}

@media (width <=1024px) {
    .title {
        font-size: 36px;
    }

    .wrapper > section {
        padding-top: 5rem;
    }
}