@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #A88451;
    --secondary-accent: #899254;
    --secondary-color: #5F6368;
    --text-color: #393939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PTSans';
}

button, input {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.container {
    width: min(100%, 1440px);
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.containerText {
    width: min(100%, 800px);
    padding-inline: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: auto;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.4;
}

.containerInfo {
    width: min(100%, 1000px);
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.title {
    text-align: center;
    font-family: 'Philosopher';
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

.button {
    transition: transform .25s;
}

.button:hover {
    transform: scale(1.02);
}

.button:active {
    transform: scale(1);
}

@media (width <= 1024px) {
    .title {
        font-size: 36px;
    }
    
    .wrapper {
        gap: 5rem;
    }
}