.container {
    margin-top: 5rem;
}

.container p {
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
    margin-top: 3rem;
}

@media (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: inherit;
    }
}

@media (max-width: 600px) {
    .container {
        margin-top: 3rem;
    }
}