.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

@media (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper > a {
        margin-bottom: 1.5rem;
    }

    .wrapper > a:last-child {
        margin-bottom: 0;
    }
}