.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

.container {
    margin-top: -2rem;
}

@media (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .container {
        margin-top: 9rem;
    }
}