.yarl__container {
    background-color: rgba(0, 0, 0, .95);
}

.yarl__thumbnails_thumbnail > div > img {
    border: 2px solid rgba(0, 0, 0, .5);
}

.yarl__thumbnails_container {
    position: absolute;
    bottom: 0;
    height: 100px;
    left: 0;
    right: 0;
    left: 0;z-index: 10;
    padding: .5rem;
    background-color: inherit;
    margin-top: -20%;
}

.yarl__thumbnails_track {
    display: flex;
    gap: 1rem;
}