.advantages {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--secondary-accent);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    width: 20%;
    fill: var(--text-color);
    color: var(--text-color);
    aspect-ratio: 1/1;
}

.item:nth-child(even) {
    fill: #fff;
    background-color: var(--secondary-accent);
    color: #fff;
}

.iconWrapper {
    width: 50px;
    height: 50px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

.description {
    font-size: 16px;
    line-height: 1.2;
}

@media (width <=1024px) {
    .swiperWrapper {
        margin-top: 2rem;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        color: var(--text-color);
        fill: var(--text-color);
        border: 1px solid var(--text-color);
        border-radius: 30px;
        width: 100%;
        aspect-ratio: 16/9;
    }
    .textWrapper {
        text-align: center;
    }
    .iconWrapper {
        width: 70px;
        height: 70px;
    }
}

@media (width <= 768px) {
    .item {
        gap: 0.5rem;
    }
}