.title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;
    color: var(--primary-color);
}

.title > span {
    font-size: 20px;
    font-weight: normal;
}

@media (max-width: 1024px) {
    .title {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 32px;
    }
}