@font-face {
    font-family: 'Philosopher';
    src:
        local('Philosopher Bold'), /* Проверяем локально на ПК */
        local('Philosopher-Bold'), 
        url('philosopherbold.woff2') format('woff2'), /* Подключаем современный формат */
        url('philosopherbold.woff') format('woff'), /* Если woff2 не поддерживается - woff */
        url('philosopherbold.ttf') format('truetype'); /* Если woff не поддерживается - ttf */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}